POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=backend_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DB_MAX_CONNECTIONS=100
DB_MIN_CONNECTIONS=5

HOST=0.0.0.0
PORT=3000
CORS_ORIGIN=*
RUST_LOG=info,sqlx=warn
